<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  ログインしてください。<a href="/user/login">ログイン</a><br>
  または新規登録してください。<a href="/user/new">新規登録</a>
</body>
</html>