<div class="announce">ログアウトしました。</div>
<div class="box">
  <div class="button">
    <a href="/user/login">ログイン</a><br>
  </div>
  <div class="button">
    <a href="/user/new">ユーザー新規登録</a>
  </div>
</div>