body {
  background-color: white;
}

header {
  width: 100%;
  height: 70px;
  background-color: #679cbb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #e6e7d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
}

input {
  border: 1px black solid;
  border-radius: 3px;
}

.error {
  margin: 10px;
  color: red;
  font-weight: 600;
}

.button {
  padding: 5px;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.announce{
  padding: 5px;
  margin: 5px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}