<h1>ユーザー一覧</h1>
<ul>
<% users.forEach(user => { %>
  <li>
    <p>ユーザー名: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
  </li>
<% }); %>
<a href="/">トップ</a><br>
<a href="/user/logout">ログアウト</a>