<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Document</title>
</head>
<body>
  <h1>ユーザー一覧</h1>
  <ul>
  <% users.forEach(user => { %>
    <li>
      <p>ユーザー名: <%= user.name %></p>
      <p>Email: <%= user.email %></p>
    </li>
  <% }); %>
  <a href="/">トップ</a><br>
  <a href="/user/logout">ログアウト</a>
</body>
</html>