<div class="announce">ここではユーザーの登録情報を確認できます</div>
<% users.forEach(user => { %>
  <li>
    <p>ユーザー名: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
  </li>
<% }); %>
<a href="/">トップへ戻るにはこちら</a>
<a href="/user/logout">ログアウトはこちら</a>