<form action="login-check" method="POST"  class="box">
  <% if (errors && errors.length > 0) { %>
    <div class="error">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <div class="form-box">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= email || '' %>" required>
  </div>
  <div class="form-box">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="" required>
  </div>
  <button type="submit" class="button">ログイン</button>
</form>
<a href="/user/new">新規登録はこちら</a>